//colors
$sidebar_body_color: $sidebarbodycolor;
$sidebar-link-color: $sidebarlinkcolor;
$sidebar-bg-color: #sidebarbackgroundcolor;
$main-body-color: $mainbodycolor;
$main-link-color: $mainlinkcolor;
$main-bg-color: $mainbackgroundcolor;
$color_gunsmoke_approx: #848482;
$black: #000000;
$color_silver_chalice_approx: #aaa;
$color_scarpa_flow_approx: #50585d;
$color_vis_vis_approx: #ffeb99;
$color_buddha_gold_approx: #caad00;
$color_putty_approx: #ebcb8b;
$color_outer_space_approx: #32343c;
$color_shark_approx: #26282d;
$color_bandicoot_approx: #848471;
$color_stiletto_approx: #993030;
$color_log_cabin_approx: #222;
$color_aqua_haze_29_approx: rgba(235, 242, 246, 0.29);
$color_storm_dust_approx: #666;
$color_mine_shaft_approx: #333;
$color_tundora_approx: #444;
$color_pink_swan_approx: #bbb;
$color_mountain_mist_approx: #999;
$color_woodsmoke_approx: #111;
$white_50: rgba(255,255,255,.5);
$color_apple_blossom_approx: #ac4142;
$color_raw_sienna_approx: #d28445;
$color_rob_roy_approx: #f4bf75;
$color_chelsea_cucumber_approx: #90a959;
$color_gulf_stream_approx: #75b5aa;
$color_hippie_blue_approx: #6a9fb5;
$color_bouquet_approx: #aa759f;
$color_potters_clay_approx: #8f5536;
$color_concord_approx: #7d7d7d;

//fonts
$font_0: PT Sans;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: EB Garamond;
$font_5: serif;
$font_6: Noto Serif;

//@extend-elements
//original selectors
//h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
%extend_1 {
	font-family: $font_4, $font_5;
	color: $color_scarpa_flow_approx;
	font-kerning: auto;
	font-feature-settings: "kern","liga","dlig","hlig","cswh";
	font-synthesis: weight style;
}

//original selectors
//.btn:hover, .btn:focus
%extend_2 {
	color: $color_shark_approx;
	background-color: $color_putty_approx;
	border-color: $color_putty_approx;
}


html {
	font-family: $font_0, $font_1, $font_2, $font_3;
}
body {
	color: $main-body-color;
	background-color: $main-bg-color;
}
h1 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
h2 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
h3 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
h4 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
h5 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
h6 {
	font-family: $font_4, $font_5;
	color: $main-link-color;
	a {
		@extend %extend_1;
	}
}
a {
	color: $main-link-color;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: $main-link-color;
	transition: color ease 0.3s;
	}
.btn {
	display: inline-block;
	padding: .25rem 1rem;
	font-family: $font_0, $font_3;
	color: $color_putty_approx;
	border: .1rem solid $color_outer_space_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: .1rem;
	&:hover {
		@extend %extend_2;
	}
	&:focus {
		@extend %extend_2;
	}
}
strong {
	color: $main-body-color;
}
b {
	color: $main-body-color;
}
code {
	color: $color_stiletto_approx;
	white-space: pre-wrap;
	background-color: $color_log_cabin_approx;
}
pre {
	background-color: $color_log_cabin_approx;
	white-space: pre;
	overflow: auto !important;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: $color_aqua_haze_29_approx 1px solid;
	margin: 1.2em 0;
	padding: 0;
}
blockquote {
	color: $color_storm_dust_approx;
	border-left: .25rem solid $color_mine_shaft_approx;
}
td {
	padding: .25rem .5rem;
	border: 1px solid $color_mine_shaft_approx;
}
th {
	padding: .25rem .5rem;
	border: 1px solid $color_mine_shaft_approx;
}
.pagination-item {
	border: 1px solid $color_tundora_approx;
}
@media(min-width: 48em) {
	html {
		font-size: 16px;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		text-align: left;
	}
	.sidebar-sticky {
		right: 1rem;
		bottom: 1rem;
		left: 1rem;
	}
	.content {
		max-width: 38rem;
		margin-left: 20rem;
		margin-right: 2rem;
	}
	.layout-reverse {
		.sidebar {
			left: auto;
			right: 0;
		}
		.content {
			margin-left: 2rem;
			margin-right: 20rem;
		}
	}
}
@media(min-width: 58em) {
	html {
		font-size: 20px;
	}
}
.message {
	color: $color_pink_swan_approx;
	background-color: $color_mine_shaft_approx;
}
.gist-data {
	background-color: $color_log_cabin_approx !important;
	border-bottom: 1px solid $color_mine_shaft_approx !important;
}
.gist-file {
	border: 1px solid $color_mine_shaft_approx !important;
}
.gist-meta {
	background-color: $color_log_cabin_approx !important;
}
.sidebar {
	text-align: center;
	padding: 2rem 1rem;
	color: $sidebar-body-color;
	background-color: $sidebar-bg-color;
	overflow: auto;
	a {
		color: $sidebar-link-color;
	}
}
.sidebar-nav {
	margin-bottom: 1rem;
}
.sidebar-nav-item {
	display: block;
	line-height: 1.75;
	&.active {
		font-weight: bold;
	}
}
.content {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
@media(min-width: 64em) {
	.content {
		margin-left: 22rem;
		margin-right: 4rem;
	}
	.layout-reverse .content {
		margin-left: 4rem;
		margin-right: 22rem;
	}
}
.page-title {
	color: $main-body-color;
}
.post-title {
	color: $main-body-color;
	a {
		color: $main-body-color;
	}
}
.theme-base-08 {
	.sidebar {
		background-color: $color_apple_blossom_approx;
	}
	.content a {
		color: $color_apple_blossom_approx;
	}
	.related-posts li a:hover {
		color: $color_apple_blossom_approx;
	}
}
.theme-base-09 {
	.sidebar {
		background-color: $color_raw_sienna_approx;
	}
	.content a {
		color: $color_raw_sienna_approx;
	}
	.related-posts li a:hover {
		color: $color_raw_sienna_approx;
	}
}
.theme-base-0a {
	.sidebar {
		background-color: $color_rob_roy_approx;
	}
	.content a {
		color: $color_rob_roy_approx;
	}
	.related-posts li a:hover {
		color: $color_rob_roy_approx;
	}
}
.theme-base-0b {
	.sidebar {
		background-color: $color_chelsea_cucumber_approx;
	}
	.content a {
		color: $color_chelsea_cucumber_approx;
	}
	.related-posts li a:hover {
		color: $color_chelsea_cucumber_approx;
	}
}
.theme-base-0c {
	.sidebar {
		background-color: $color_gulf_stream_approx;
	}
	.content a {
		color: $color_gulf_stream_approx;
	}
	.related-posts li a:hover {
		color: $color_gulf_stream_approx;
	}
}
.theme-base-0d {
	.sidebar {
		background-color: $color_hippie_blue_approx;
	}
	.content a {
		color: $color_hippie_blue_approx;
	}
	.related-posts li a:hover {
		color: $color_hippie_blue_approx;
	}
}
.theme-base-0e {
	.sidebar {
		background-color: $color_bouquet_approx;
	}
	.content a {
		color: $color_bouquet_approx;
	}
	.related-posts li a:hover {
		color: $color_bouquet_approx;
	}
}
.theme-base-0f {
	.sidebar {
		background-color: $color_potters_clay_approx;
	}
	.content a {
		color: $color_potters_clay_approx;
	}
	.related-posts li a:hover {
		color: $color_potters_clay_approx;
	}
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: $color_mine_shaft_approx;
	border: thin solid $color_woodsmoke_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: $color_log_cabin_approx;
	border: thin solid $color_log_cabin_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	&:hover {
		background: $color_concord_approx;
	}
}
tbody tr:nth-child(odd) {
	td {
		background-color: $color_log_cabin_approx;
	}
	th {
		background-color: $color_log_cabin_approx;
	}
}
.gist .markdown-body {
	color: $color_mountain_mist_approx !important;
	pre {
		background-color: $color_woodsmoke_approx !important;
	}
}
.sidebar-about h1 {
	color: $color_buddha_gold_approx;
	margin-top: 0;
	font-family: $font_6, $font_5;
	font-size: 2.25rem;
}