/* ==========================================================================
   Sass variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 18;
   /* Colors
   ========================================================================== */

$sidebarbodycolor       : #0ea7b5;
$sidebar-body-color     : $sidebarbodycolor;
$sidebarlinkcolor       : #0c457d;
$sidebar-link-color     : $sidebarlinkcolor;
$sidebarbackgroundcolor : #e8702a;
$sidebar-bg-color       : #sidebarbackgroundcolor;
$mainbodycolor          : #6bd2db;
$main-body-color        : $mainbodycolor;
$mainlinkcolor          : #ffbe4f;
$main-link-color        : $mainlinkcolor;
$mainbackgroundcolor    : #0c457d;
$main-bg-color          : $mainbackgroundcolor;
